{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/task.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <h1>Task List</h1>

    <table class="table" id="task_table_list">
        <thead>
            <tr>
                <th>Status</th>
                <th>Id</th>
                <th>Name</th>
                <th>Tag</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr class="{{ cycle(['even', 'odd'], loop.index) }}" id="task_list_tr_{{ entity.id }}">
                    <td>
                        <input id="task_{{ entity.id }}"
                               type="checkbox" {% if (entity.status) %} checked {% endif %}
                               value="{{ entity.status }}"
                               onclick="updateTaskStatus('{{ path('task_update_status', {'id': entity.id}) }}', {{ entity.id }}); return false;"/>
                    </td>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.tag }}</td>
                    <td>
                        <a href="#" onclick="deleteTask('{{ path('task_delete', {'id': entity.id}) }}'); return false;" >
                            Remove
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block body %}
    <div id="task_new_form" style="display: none;"">
        {{ include('AppBundle:task:new.html.twig') }}
    </div>
    <div class="clear-fix"></div>
    <div class="block">
        <a href="#" class="btn btn-primary pull-right" id="task_new_btn" onclick="addNewTaskForm()">
            Create a new task
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <div id="jquery_js">
        <script src="{{ asset('bundles/app/js/index.js') }}"></script>
    </div>
{% endblock %}